
@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1490798165282'); /* IE9*/
  src: url('../iconfont/iconfont.eot?t=1490798165282#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff?t=1490798165282') format('woff'), /* chrome, firefox */
  url('../iconfont/iconfont.ttf?t=1490798165282') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg?t=1490798165282#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wifi:before { content: "\3470"; }

.icon-jizhan:before { content: "\e663"; }

.icon-height-light-6:before { content: "\e695"; }

.icon-gongyong-xinhao:before { content: "\e607"; }

.icon-gongyong-xinhao1:before { content: "\e608"; }

.icon-gongyong-xinhao2:before { content: "\e615"; }

.icon-gongyong-xinhao3:before { content: "\e616"; }

.icon-gongyong-xinhao4:before { content: "\e617"; }

